<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
  
</head>
<style>
    .row>* {
        flex-shrink: 0;
        width: 100%;
        max-width: 100%;
        padding: 10px !important;

        margin-top: var(--bs-gutter-y);
    }
</style>
<body>
   
    <%- include('header') %>

   <div style="background-color:rgb(242, 243, 244);">
    <div class="card-group p-5 ">
        <div class="row d-flex justify-content-center" id="card-parent">

        </div>
    </div>

   </div>



</body>

<script>
  if(!gCookie){
    alert('Please login');
    location.href = "<%=baseURL%>/login";
  }
  $.ajax({
            url: "<%=baseURL%>/api/favProductList/"+gCookie,
            type: "GET",
            dataType: "JSON",
            async: false,
            success: function (data) {
                console.log(data);
                var product_list = "";
                $.each(data, (key, value) => {
                    //console.log(key, value);


                    product_list += '<div class="card m-2 col-12 col-md-2 ind-card " style="border:none;width:17em;">';
                    product_list += '';
                    product_list += '<img style="border-radius:5px;" src = "<%=baseURL%>/'+ value.profileImg +'" class="card-img-top home-img" alt = "..." >';
                    product_list += '<div class="card-body">';
                    product_list += '<a href="<%=baseURL%>/productDetailes?productid=' + value._id + '"><h5 class="card-title">' + value.name + '</h5></a>';
                    product_list += '<p class="card-text">' + value.description.slice(0, 75) + '</p>';
                    product_list += '<div style="display:flex;" >';
                    product_list += '<p class="card-text"><small class=" h5 font-weight-bold"><b>₹' + value.price + '</b></small></p>';
                    product_list += '<a style="margin-left:auto;margin-right:0;" href="#" class="btn btn-primary">Buy now</a>';
                    product_list += '</div>';

                    product_list += '</div>';
                    product_list += '</div>';

                });
                $("#card-parent").html(product_list);


            },
            error: function (err) {
                console.log(err);
            }
        });


</script>

</html>